body {
    background: $bg-color;

    &:has(#main-wrapper) {
      padding-left: $sidebar-width;
      overflow: hidden;

      &.hide-sidebar {
        padding-left: 0 !important;
        #sidebar {
            left: $sidebar-width * -1;
        }
      }
    }

    #main-wrapper {
        overflow-y: scroll;
        height: 100vh;

        &::-webkit-scrollbar {
          width: $scrollbar-width;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
        }

        #content-wrapper {

            #content {
              margin-top: $container-padding-x;
              min-height: calc(100vh - $basic-height * 2 - $container-padding-x);

              .container, .container-fluid {
                padding-inline: $container-padding-x;
              }
            }
        }
    }


    #centered-wrapper {
      #content {
          height: calc(100vh - $basic-height);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: auto;
          @extend %scrollbar;
      }

      #footer {
          width: 100%;
      }
  }
}
