#sidebar {
    border-right: 1px solid #e2e8f0;
    height: 100vh;
    width: $sidebar-width;
    position: fixed;
    left: 0;
    top: 0;
    user-select: none;

    .logo {
        @extend %logo;
        padding-left: $container-padding-x;
        height: $basic-height;
    }

    nav {
        display: flex;
        flex-direction: column;
        height: calc(100vh - $basic-height);
        max-height: calc(100vh - $basic-height);
        overflow: auto;
        @extend %scrollbar;

        a {
            color: $body-color;
            padding-left: $container-padding-x;
            padding-right: $container-padding-x * .5;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 0 $sidebar-item-height $sidebar-item-height 0 ;
            width: calc(100% - $container-padding-x);
            min-height: $sidebar-item-height;
            margin-block: .25rem;
            transition: all ease .3s;

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                background: rgba(0,0,0,0.1);
            }

            &.active {
                background: $primary;
                color: #fff;
            }

            i {
                margin-right: $container-padding-x * .5;
            }
        }

        .divider {
            position: relative;
            height: $sidebar-item-height;
            span {
                font-size: $font-size-sm;
                background: $bg-color;
                display: flex;
                position: absolute;
                align-items: center;
                z-index: 10;
                padding-inline: $container-padding-x * .25;
                left: 50%;
                transform: translateX(-50%);
                height: $sidebar-item-height;
            }

            &::after {
                content: '';
                z-index: 9;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
                background: #e2e8f0;
            }
        }
    }

}