@use 'sass:color';

#spinner {
    position: absolute;
    inset: 0;
    z-index: 9999;
    background: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    .loader {
        position: relative;
        width:  48px;
        height: 48px;
        background: $primary;
        transform: rotateX(65deg) rotate(45deg);
        color: color.adjust($body-color, $alpha: -0.5);
        animation: layers1 1s linear infinite alternate;
    }
    .loader:after {
        content: '';
        position: absolute;
        inset: 0;
        background: color.adjust($body-color, $alpha: -0.3);
        animation: layerTr 1s linear infinite alternate;
    }

    @keyframes layers1 {
        0% { box-shadow: 0px 0px 0 0px  }
        90% , 100% { box-shadow: 20px 20px 0 -4px  }
    }

    @keyframes layerTr {
        0% { transform:  translate(0, 0) scale(1) }
        100% {  transform: translate(-25px, -25px) scale(1) }
    }

}