@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$font-family-sans-serif: 'Nunito Sans';

$body-color: #475870;

$primary:#5d75aa;
$success:#42b342;
$info:#51bbdb;
$warning: #fbff04;
$danger: #ff5353;

$font-size-base: 0.9rem;


