#topbar {
    display: flex;
    align-items: center;
    height: $basic-height;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all ease .5s;
    border-bottom: 1px solid rgba(255,255,255,0);
    background: rgba(237, 242, 249, .85);
    user-select: none;

    .container-fluid {
        padding-inline: $container-padding-x * .5;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        nav {
            display: flex;

            > a, .dropdown > a {
                position: relative;
                height: $basic-height;
                display: flex;
                align-items: center;
                color: $body-color;
                color: $text-muted;
                padding-inline: $container-padding-x * .5;
                gap: $container-padding-x * .5;
                font-weight: bold;
                text-decoration: none;
                transition: all ease .3s;

                &:hover {
                    opacity: 0.75;
                }

                i {
                    font-size: 1.25rem;
                }

                &.new {
                    i {
                        position: relative;
                        &::after {
                            content: '';
                            width: 0.4rem;
                            height: 0.4rem;
                            border-radius: 100%;
                            background-color: $danger;
                            position: absolute;
                            right: -0.2rem;
                            top: 0;

                        }
                    }

                }
            }

            .dropdown {
                display: flex;
                align-items: center;
                height: $basic-height;

                ul.dropdown-menu {
                    top: $container-padding-x * .25 !important;

                    li {
                        a {
                            min-width: $sidebar-width;
                            min-height: $basic-height * .75;
                        }
                    }
                }

                &.user {
                    > a img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 100%;
                        border: $primary .18rem solid;
                    }

                    .dropdown-header {
                        height: calc($basic-height * 1.25 + $container-padding-x);

                        > img {
                            width: $basic-height * 1.25;
                            height: $basic-height * 1.25;
                            border-radius: 100%;
                            border: $primary .2rem solid;
                        }
                        .user {
                            .role {
                                font-size: $font-size-sm;
                                font-weight: normal;
                            }
                        }
                    }
                }

            }

        }
    }
}