services:
	- App\Helpers\MultiFactory(
		userSettingsControl: @App\Modules\AdminModule\Components\UserSettingsControl\UserSettingsControl,
		loginControl: @App\Modules\AdminModule\Components\Log\LoginControl\LoginControl
	)
