{block content}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Seznam uživatelů</div>
            {control grid}
        </div>

    </div>
</div>