{block content}
<div class="container">
    <div class="row">
        {foreach [1,2,3] as $day}
            <div class="col-12">
                {control 'timeTrackerDay-'.$day}
            </div>
        {/foreach}
    </div>
</div>
