<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Admin</title>
	{$styles|noescape}
</head>
<body>
    <div id="spinner">
        <div class="loader"></div>
    </div>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
		<div class="alert bg-info">
			{$flash->message}
		</div>
	</div>

	{if $presenter->templateWrapperType->value === 'centered'}

		<div id="centered-wrapper">
			<div id="content">
				{include content}
			</div>
			{include 'footer.latte'}
		</div>

	{else}

		<div id="main-wrapper">
			{include 'sidebar.latte'}

			<div id="content-wrapper">
				{include 'topbar.latte'}
				<div id="content">
					<div class="container">
						{include content}
					</div>
				</div>
				{include 'footer.latte'}
			</div>
		</div>

	{/if}

	{block scripts}
		{$scripts|noescape}
	{/block}

</body>
</html>