<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
	{$styles|noescape}
  </head>
  <body>


	{*foreach $flashes as $flash}
		<div class="toast {$flash->type}">
			<div class="icon">
				<i class="ti ti-check"></i>
			</div>
			<div class="message">
				{$flash->message}
			</div>
		</div>
	{/foreach*}

	{if $presenter->templateWrapperType->value === 'centered'}
		<div class="page page-center">
				{include content}
		</div>
	{else}

		<div class="page">
			{include 'sidebar.latte'}

		<div class="page-wrapper">
			{include 'topbar.latte'}
			<!-- Page header -->
			<!-- Page body -->
			<div class="page-body">
				{include content}
			</div>
			{include 'footer.latte'}
		</div>
		</div>

	{/if}





	{block scripts}
		{$scripts|noescape}
	{/block}
  </body>
</html>