<div id="topbar" class="sticky-top">
    <div class="container-fluid">
        <div class="wrapper">
            <nav>
                <a href="#" id="hamburger"><i class="ti ti-menu-2"></i></a>
            </nav>
            <nav>
                <a href=""><i class="ti ti-brand-github"></i></a>
                <a href="" class="new"><i class="ti ti-message-circle"></i></a>
                <div class="dropdown notification">
                    <a class="new" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ti ti-bell"></i></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            <i class="ti ti-bell"></i></i>
                            Notifikace
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="ti ti-user"></i>
                                Zpráva
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="ti ti-settings"></i>
                                Kopírování
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="ti ti-dots-vertical"></i>
                                Zobrazit více
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown user">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-01.jpg" alt="">
                        <div class="user">Martin Hons</div>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-01.jpg" alt="">
                            <div class="user">
                                <div class="name">Martin Hons</div>
                                <div class="role">Administrátor</div>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="ti ti-user"></i>
                                Profil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="ti ti-settings"></i>
                                Nastavení
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{plink Log:out}">
                                <i class="ti ti-door"></i>
                                Odhlásit se
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>