
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        max-width: 100%;
        width: 24rem;

        .card {
            margin-bottom: $container-padding-x * .25;

            .logo {
                @extend %logo;
                font-size: $h2-font-size;
                justify-content: center;
                margin-bottom: $container-padding-x * .5;
                padding-block: $container-padding-x * .5;

            }

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                a {
                    font-size: $font-size-sm;
                }
            }
        }

        .backlink {
            font-size: $font-size-sm;

            &:hover {
                color: $primary !important;
            }
        }
    }
}